/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 * CSS rewritten into SCSS: Tyce Clee (@iamtyce) 6/11/12
 */

 /******************************************************************
Colors
******************************************************************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #5c5c5c;
$white:             #fff;

$light-gray:        #e6e6e6;
$gray:              #bebebe;

$brown:       #d3c8b2;

$red:       #ff0000;

$yellow:            #f9efcc;
$light-yellow:    #faf4de;

$orange:      #eb8124;

$green:             #96935b;

$dark-blue:     #027ea3;
$blue:              #3a9cc7;
$medium-blue:   #47a1c7;
$light-blue:    #94DEF5;/*bee3ee*/
$pale-blue:     #aee5f6;

$purple:      #825b90;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      $black;
$disabled-color:    $light-gray;

$text-color:        $black;
$meta-color:        $gray;

$title-family:    "Rancho", cursive;
$subtitle-family: "Oswald", sans-serif;

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
  margin: 0 auto 1.677em;
  padding: 0;
  width:90%;
 
  .slides {
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
      margin-right: 2px;
    }
    img {
      width: 55%;
      display: inline-block;
      float:left;
      margin-bottom: 5px;
      box-shadow:4px 4px rgba(58, 156, 199, 0.5);
    }
  }

  h2 {
    a, a:visited {
      color:$white;
    }
  }
}

.slidetext {
  width: 40%;
  margin-right:2%;
  display: inline-block;
  float:right;
  text-shadow: 1px 1px 3px $dark-blue;

  a, a:visited {
    color:$yellow;

    &:hover {
      color:$orange;
    }
  }

}

.slidecat {
  font-family:$title-family; 
  font-size:2em;
}

.slidemore {
  font-weight: 400;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {
 
  padding:1em;
  position: relative;
  box-shadow:5px 5px $light-gray;
  zoom: 1;
  background: -moz-linear-gradient(top,  rgba(92,171,204,0.79) 0%, rgba(182,229,242,0.78) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,171,204,0.79)), color-stop(100%,rgba(182,229,242,0.78))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(92,171,204,0.79) 0%,rgba(182,229,242,0.78) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(92,171,204,0.79) 0%,rgba(182,229,242,0.78) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(92,171,204,0.79) 0%,rgba(182,229,242,0.78) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(92,171,204,0.79) 0%,rgba(182,229,242,0.78) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c95cabcc', endColorstr='#c7b6e5f2',GradientType=0 ); /* IE6-9 */
}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */

.flex-direction-nav {
  *height: 0;
  a {
    width:25px;
    height:78px;
    display: block;
    margin:-25px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    transition: all .3s ease;
    
    &.flex-next {
      background: url("../images/arrow-right.png") no-repeat 0 0;
      right:-25px;
  	}
  	
  	&.flex-prev {
    	background: url("../images/arrow-left.png") no-repeat 0 0;
      left:-25px;
  	}
  	
  }
}



.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity = 30);
  cursor: default;
}

/* Control Nav */

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  &:hover {
    background: #333;
    background: rgba(0,0,0,.7);
  }
  &.flex-active {
    background: #000;
    background: rgba(0,0,0,.9);
    cursor: default;
  }
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  li {
    width: 25%;
    float: left;
    margin: 0;
  }
  img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .flex-active {
    opacity: 1;
    cursor: default;
  }
}

@media screen and (max-width: 860px) {
  .flex-direction-nav {
    .flex-prev {
      opacity: 1;
      left: 0;
    }
    .flex-next {
      opacity: 1;
      right: 0;
    }
  }
}