/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 * CSS rewritten into SCSS: Tyce Clee (@iamtyce) 6/11/12
 */

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
  margin: 0 auto 1.677em;
  padding: 0;
  width:90%;
  border-bottom:1px solid $blue;
 
  .slides {
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
      margin-right: 2px;
    }
    img {
      display: none;

      @include breakpoint(tablet) {
        width: 55%;
        display: inline-block;
        float:left;
        margin-bottom: 5px;
        box-shadow:3px 4px rgba(58, 156, 199, 0.5);
      }
    }
  }

  h2 {
    font-size: 1.8em;

    a, a:visited {
      color:$white;
    }
  }
}

.slidetext {
  font-size:.9em;
  text-shadow: 2px 2px #0297c4;

  @include breakpoint(tablet) {
    width: 40%;
    margin-right:2%;
    display: inline-block;
    float:right;
  }

  a, a:visited {
    color:$yellow;

    &:hover {
      color:$light-yellow;
    }
  }

}

.slidecat {
  font-family:$title-family; 
  font-size:2em;
}

.slidemore {
  font-weight: 400;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {
 
  padding:1em;
  position: relative;
  box-shadow:5px 5px $light-gray;
  zoom: 1;
 background: #5dabcc; /* Old browsers */
background: -moz-linear-gradient(top,  #5dabcc 75%, #b6e5f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#5dabcc), color-stop(100%,#b6e5f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5dabcc 75%,#b6e5f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5dabcc 75%,#b6e5f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5dabcc 75%,#b6e5f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5dabcc 75%,#b6e5f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dabcc', endColorstr='#b6e5f2',GradientType=0 ); /* IE6-9 */

}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */

.flex-direction-nav {
  *height: 0;
  a {
    width:25px;
    height:78px;
    display: block;
    margin:-25px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    transition: all .3s ease;
    
    &.flex-next {
      background: url("../images/arrow-right.png") no-repeat 0 0;
      right:-25px;
  	}
  	
  	&.flex-prev {
    	background: url("../images/arrow-left.png") no-repeat 0 0;
      left:-25px;
  	}
  	
  }
}



.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity = 30);
  cursor: default;
}

/* Control Nav */

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  &:hover {
    background: #333;
    background: rgba(0,0,0,.7);
  }
  &.flex-active {
    background: #000;
    background: rgba(0,0,0,.9);
    cursor: default;
  }
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  li {
    width: 25%;
    float: left;
    margin: 0;
  }
  img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .flex-active {
    opacity: 1;
    cursor: default;
  }
}

@media screen and (max-width: 860px) {
  .flex-direction-nav {
    .flex-prev {
      opacity: 1;
      left: 0;
    }
    .flex-next {
      opacity: 1;
      right: 0;
    }
  }
}