
html {
	/* background:url('../images/bg-pattern.png') repeat; */
}
body {
	height:100%;
	font-family: $sans-serif;
	font-size: 98%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	background: -moz-linear-gradient(top,  rgba(58,156,199,0.66) 0%, rgba(178,235,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,156,199,1)), color-stop(100%,rgba(178,235,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,156,199,0.66) 0%,rgba(178,235,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,156,199,1) 0%,rgba(178,235,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,156,199,1) 0%,rgba(178,235,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,156,199,1) 0%,rgba(178,235,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a83a9cc7', endColorstr='#a8b2ebfc',GradientType=0 ); /* IE6-9 */


	@include breakpoint(laptop) {
		font-size:90%;
	}	

	@include breakpoint(desktop) {
		font-size:98%;
	}
}

.hide {
	display:none;
}

.wrap {
	width:100%;
	margin: 0 auto;
	padding:0 1.5em;


	@include breakpoint(phablet) {
		width: 600px;
	}

	@include breakpoint(tablet) {
		width: 94%;
		width: 800px;
	}

	@include breakpoint(laptop) {
		width: 1004px;
	}	

	@include breakpoint(desktop) {
		width: 1100px;
	}

	.topbar & {
		background-color:$purple;
		position: relative;
		padding:.677em 0;
		border-bottom: 2px solid rgba(90, 49, 105, 0.6);
		box-shadow:0 6px 4px -4px #cfc8b8;

		@include breakpoint(phablet) {
			width: 610px;
		}

		@include breakpoint(tablet) {
			width: 812px;
			padding:0 10px 0 1em;
			left:-6px;
			

			&:before {
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left:-1px;
				top: 100%;
				border-width: 6px 6px;
				border-style: solid;
				border-color: #5a3169 #5a3169 transparent transparent;

			}

			&:after {
				content: ' ';
				position: absolute;
				height: 32px; 
			    width: 33px;  
			    padding: 0px; 
			    top: 16px; 
			    right:-29px;
			    -webkit-transform: rotate(39deg) skew(39deg); 
			    transform: rotate(39deg) skew(39deg);
				background-color:darken($purple, 18%);
				box-shadow: 0 6px 4px -4px #bc3a00;
			}
		}

		@include breakpoint(laptop) {
			width: 1016px;
		}

		@include breakpoint(desktop) {
			width: 1112px;
		}

		@include breakpoint(tv) {
			/* width: 1260px; */
		}

		
	}
}


#inner-header {
	&.wrap {
		text-align: center;
		border-bottom: 5px solid $blue;
		background-color:$yellow;/* Old browsers */
		background: -moz-linear-gradient(-45deg,  #f9efcc 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9efcc), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(-45deg,  #f9efcc 0%,#ffffff 100%);
		background: -o-linear-gradient(-45deg,  #f9efcc 0%,#ffffff 100%);
		background: -ms-linear-gradient(-45deg,  #f9efcc 0%,#ffffff 100%);
		background: linear-gradient(135deg,  #f9efcc 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9efcc', endColorstr='#ffffff',GradientType=1 );

		@include breakpoint(tablet) {
			border:none;
		}

		@include breakpoint(laptop) {
			text-align:left;
		}
	}
}

@include breakpoint(tablet) {
	.topspacer.wrap, 
	#inner-header.wrap,
	.topbar .wrap, 
	.topmenu .wrap,
	#inner-content {
		border-right: 20px solid $orange;
	}
}


#inner-header {
	border-top:4px solid lighten($purple, 20%);
}

#inner-footer {
	background-color:$purple;
	position: relative;
	padding:1.5em;

		@include breakpoint(tablet) {
			width: 820px;
			left:-2px;
			padding:1.5em 1.5em 1.5em;
			min-height:150px;
			z-index:2;
			border-right: 30px solid darken($purple, 18%);
		}

		@include breakpoint(laptop) {
			width: 1024px;
		}

		@include breakpoint(desktop) {
			width: 1120px;
		}

		@include breakpoint(tv) {
			/* width: 1270px; */
		}
}
.footer-top {
	
	display:none;

		@include breakpoint(tablet) {
			display: none;
			width: 812px;
			height:1.5em;
			background-color:$purple;
			position: relative;
			left:-6px;
			padding-right:10px;
			border-right: 20px solid $orange;
			z-index:1;
		}

		@include breakpoint(laptop) {
			width: 1016px;
		}

		@include breakpoint(desktop) {
			width: 1112px;
		}

		@include breakpoint(tv) {
			/* width: 1261px; */
		}
}
.footer-swipe {

	display:none;

		@include breakpoint(tablet) {
			width: 810px;
			position:relative;
			height:5px;
			left:-5px;
			padding-right:10px;
			border-right: 22px solid $orange;
			background-color: $light-gray;
			z-index:10;

			&:after {
				content: ' ';
				position: absolute;
				height: 33px; 
			    width: 38px;  
			    padding: 0px; 
			    top: 15px; 
			    right:-34px;
			    -webkit-transform: rotate(39deg) skew(39deg); 
			    transform: rotate(39deg) skew(39deg);
				background-color:darken($purple, 18%);
				z-index: 100;
			}
		}

		@include breakpoint(laptop) {
			width: 1014px;
		}

		@include breakpoint(desktop) {
			width: 1110px;
		}

		@include breakpoint(tv) {
			/* width: 1260px; */
		}

	
}

@include breakpoint (tablet) {
	.topspacer.wrap {
		height:15px;
		background-color:$white;
	}
}

.topmenu {
	.wrap {
		padding:0;
		background-color:$white;
		position: relative;
		
		line-height:1.5em;
		
		@include breakpoint(phablet) {
			width: 620px;
		}

		@include breakpoint(tablet) {
			width: 820px;
			left:-10px;
			height:50px;


			&:before {
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left:0px;
				top: 100%;
				border-width: 10px 10px;
				border-style: solid;
				border-color: $dark-blue $dark-blue transparent transparent;

			}
		}

		@include breakpoint(laptop) {
			width: 1024px;
		}

		@include breakpoint(desktop) {
			width: 1120px;
		}

		@include breakpoint(tv) {
			/* width: 1270px; */
		}
		

		
	}
}

#inner-content {
	padding:2.6em 1.5em 1.677em;
	background-color:$white;
}

.holder {
	position: relative;
}

.social-search {
	display: none;

	@include breakpoint(tablet) {
		width:40%;
		display:inline-block;
		/*float:right; */
		position:absolute;
		right:0;
		top:0;
		text-align:right;
		vertical-align:middle;
		padding:.5em 0;
	}

	@include breakpoint(laptop) {
		width: 60%;
	}
}


.header {
	color:$white;
	padding:0;
}


#logo {
	margin:.5em 1.5em .5em 0;
	color: $white;
	border: none;
	line-height:1em;
	display:inline-block;
	max-width:359px;
	width:100%;
	vertical-align:middle;

	@include breakpoint(tablet) {
		width:48%;
		float:left;
	}

	@include breakpoint(laptop) {
	}

	img {
		padding:0;
		margin:0;
	}
}

.imglink > img {
	margin-bottom:0;
}

.site-description {
	display:inline-block;
	width:98%;
	color: #88857c;
	font-family:$subtitle-family;
	font-size:1.2em;
	font-weight:300;
	vertical-align:middle;
	text-align:center;
	padding:0 0 .75em;

	@include breakpoint(tablet) {
		width:38%;
		text-align:left;
		padding-top:4.9em;
		float:left;
	}

	@include breakpoint(laptop) {
		width:23%;
		float:none;
	}
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {
  	color:$orange;
  }

  /* mobile tap color */
  &:link {

    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }

  &.imglink {
  	 border: none;
  	 line-height: 1em;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 400;
  margin:0 0 .675em 0;
  font-family: $subtitle-family;
  line-height: 1.4em;
  
  a, a:visited {
    text-decoration: none;
    border: none;
    color:$purple;

  }

}

h1, .h1 {
  font-size: 2.5em;
  
}

h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.4em;
}

h5, .h5 {
  font-size: 1.3em;
  line-height: 1.5em;
}

h6 {
  font-size: 1.1em;
}

.single-title,
.page-title,
.entry-title {
	margin: 0 0 .5em 0;
}

.page-title, .archive-title, .single-title {
	font-size:3.5em;
	color:$purple;
	line-height:1em;
	margin-bottom:.1em;
	font-family:$title-family;
}

.entry-title {
	font-size:2.1em;

	a {
		border-bottom:none;
	}

	.single & {

		color:$orange;
		/* padding-bottom:1.25em;*/
	}
}

.cat-desc {
	font-family:$subtitle-family;
	font-size:1.3em;
	font-weight:300;
	margin-bottom:1em;

	p {
		margin-bottom: 0;
	}
}

p {
	margin: 0 0 1.677em;
}

.searchform {
	label {

	}
	input {
		display: inline-block;
	}
}

.cat-title {
  	font-family: $title-family;
  	font-size:1.4em;
  	margin:0;
  	padding:0;
  	text-align:right;

  	a, a:visited {
  		color:$orange;
  	}
  }

 .kltv-exclusive {
	margin:0 0 -.2em 0;
	padding:0 1em 0 2.5em;
	font-family: $title-family;
	font-size: 1.5em;
	background: url('../images/bg-kltv-exclusive.png') 0 -.2em no-repeat;

	a, a:visited {
		color:$white;
	}
}

 .tax-posttype.term-kidlit-kibbles  {
 	.article-header {
 		a, a:visited {
 			color:$red;
 		}
 	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-header {
	padding:0 1.5em 0;
}

.article-header {
	position:relative;
}
.hentry {

	footer {
	
		p {
			margin: 0;
		}
	}

} /* end .hentry */

.post-footer {
	margin-bottom:1em;
}

.site-meta {
	width:100%;
	display:block;
	font-size:.9em;
	text-align:center;
	margin-bottom:1em;

	@include breakpoint(tablet) {
		display: inline-block;
		width:50%;
		float:left;
		text-align:left;
		margin-bottom: 0;
	}
}

.post-meta-date {
	font-style:italic;
}

.ssba {
	width:100%;
	display:block;
	text-align:center;

	@include breakpoint(tablet) {
		display: inline-block;
		width:50%;
		float:right;
		text-align:left;
	}
}

ul.tags {
	margin:0 0 1em 0;
	padding:0;

	li {
		display: inline-block;
		margin:0 .5em .5em 0;
	}

	a, a:visited {
		font-size: .8em;
		font-weight: 300;
		text-transform: uppercase;
		background-color:$orange;
		color:$white;
		padding:.2em .5em;
		font-family: $subtitle-family;
	}
}
.masonry-thumbnail {
	position: relative;
	z-index:1;
	img {
		box-shadow:2px 3px #e6e6e6;
		color:$light-gray;
		margin-bottom: 1em;
	}

	&.size-gs {
		width: 45%;
		float:right;
		margin-left:3%;
	}
}
.category-kltv-exclusive {
	background-color:$yellow;

	h3 {
		font-size: 1.8em;
		a, a:visited {
			color:$orange;
		}
	}

	.masonry-thumbnail {
		img {
			color: $brown;	
		}
		
	}
}



.posttype-kltv-exclusives {
	background-color:$yellow;

	.single & {
		background-color:$yellow;
		background: -moz-linear-gradient(top,  rgba(249,239,204,1) 0%, rgba(252,248,233,0.35) 23%, rgba(255,255,255,0.91) 41%, rgba(255,255,255,1) 44%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,239,204,1)), color-stop(23%,rgba(252,248,233,0.35)), color-stop(41%,rgba(255,255,255,0.91)), color-stop(44%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,239,204,1) 0%,rgba(252,248,233,0.35) 23%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,1) 44%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,239,204,1) 0%,rgba(252,248,233,0.35) 23%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,1) 44%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,239,204,1) 0%,rgba(252,248,233,0.35) 23%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,1) 44%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,239,204,1) 0%,rgba(252,248,233,0.35) 23%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,1) 44%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9efcc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}
	

	h3 {
		font-size: 1.8em;
		a, a:visited {
			color:$orange;
		}
	}

	
}

.posttype-kltv-exclusives, .format-video {
	.masonry-thumbnail {
		position:relative;

		img {
			color: $brown;
		}
		
		& > a, & > a:visited {
			display: block;
			position:relative;
		}
		& > a:after {
		    content: "";
		    position: absolute;
		    bottom: 2em;
		    right:1em;
		    width: 65px;
		    height: 65px;
		    z-index: 100;
		    background: transparent url('../images/bg-play.png') no-repeat center;
		    pointer-events: none;
		}
	}
}

.masonry-entry {
	width:100%;
	border:1px solid $light-gray;
	margin-right:-1px;
	margin-bottom:-1px;
	
	padding:1.5em;



	@include breakpoint(phablet) {
		width:50%;

		.single-post & {
			width:100%;
		}
	}
}

.format-aside, .single-format-standard, .posttype-kidlit-kibbles {
	.masonry-thumbnail {
		width:45%;
		margin-left:2%;
		float:right;
	}
}

.archive.term-post-format-aside,.archive.term-kidlit-kibbles  {
	.cat-title {
		display: none;
	}
}

.archive.term-post-format-video, .archive.term-kltv-exclusives {
	.kltv-exclusive {
		display: none;
	}
}

/* post meta */
.byline {
	color: #939393;
	font-size:.8em;
	margin: 0;

	time {}
}

.subcat-list {
	list-style: none;
	margin:0 0 1em 1.5em;

	.single & {
		margin-top:.5em;
	}

	li {
		display: inline-block;
		background-color:$green;
		margin-bottom: 4px;

		&:nth-of-type(2) {
			background-color:$orange;
		}

		&:nth-of-type(3) {
			background-color:$purple;
		}

		&:nth-of-type(4) {
			background-color:darken($orange, 10%);
		}

		&:nth-of-type(5) {
			background-color:$blue;
		}

		&:nth-of-type(6) {
			background-color:lighten($green, 5%);
		}

		&:nth-of-type(7) {
			background-color:lighten($purple, 10%);
		}

		&:nth-of-type(8) {
			background-color:darken($blue, 5%);
		}

		&:nth-of-type(9) {
			background-color:$green;
		}
		&:nth-of-type(10) {
			background-color:$orange;
		}

		&:nth-of-type(11) {
			background-color:$purple;
		}

		&:nth-of-type(12) {
			background-color:darken($orange, 10%);
		}

		&:nth-of-type(13) {
			background-color:$blue;
		}

		&:nth-of-type(14) {
			background-color:lighten($green, 5%);
		}

		&:nth-of-type(15) {
			background-color:lighten($purple, 10%);
		}

		&:nth-of-type(16) {
			background-color:darken($blue, 5%);
		}

		.single & {
			margin-right: 4px;
		}
	}
	a, a:visited {
		display: inline-block;
		color:$white;
		padding:.2em .5em;
		font-size: .8em;
		font-family:$subtitle-family;
		text-transform: uppercase;

	}

	.single & {
		margin-left:0;
	}
	
	&.post-subcats {
		position:absolute;
		bottom: 1.5em;
		z-index: 100;
		margin:0;

		li {
			display: block;
			float:left;
			clear:left;
		}
	}

	.single &.post-subcats {
		bottom:0;
	}
}

/* entry content */
.entry-content {
	padding: 0;
	font-size:95%;

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

	.learnmore-link {
		display: none;
	}

} /* end .entry-content */

#breadcrumbs {
	font-size:.8em;
	margin-bottom:.5em;
}

blockquote {
	margin: 0 0 1.5em 0.75em;
	padding: 0 0 0 0.75em;
	border-left: 3px solid $blue;
	font-style: italic;
	color: $dark-blue;
	font-size:1.1em;

	&:before {}

}

img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
}

/*
Align all images center for smallest screens
*/
.alignleft, img.alignleft, 
.alignright, img.alignright,
.aligncenter, img.aligncenter { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;

	@include breakpoint(tablet) {
		
		margin-bottom: .677em;
	}
}

.alignleft, img.alignleft {
	@include breakpoint(tablet) {
		margin-right: 1.5em;
		float: left;
		display: inline;
	}
}

.alignright, img.alignright {
	@include breakpoint(tablet) {
		margin-left: 1.5em;
		float: right;
		display: inline;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	width:100%;
	overflow: hidden;
	margin-bottom:1.677em;
	z-index:1;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index:1;
	}
}

.wp-caption, .html5-captions .wp-caption {
	max-width: 100%;
	background: $light-gray;
	padding: .2em;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

} /* end .wp-caption */

.wp-caption-text {
	font-size: 0.85em;
	margin: .2em 0 .3em;
	text-align: center;
	font-style:italic;
}

/* image gallery styles */
.gallery {

} 

.gallery-item {
	display:inline-block;
	margin:0 2% 1em 0;
	width:100%;
	vertical-align:top;
	text-align:center;

	img {
		margin-bottom: 0;
	}

	@include breakpoint(tablet) {
		width:49%;
			&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
}


// the tag output
.tags {
margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
	  display: inline-block;
	  white-space: nowrap;
	  padding: 0;
	  clear: both;
	}

	li {
	  padding: 0;
	  margin: 0;
	  float: left;
	  display: inline-block;
	  overflow: hidden;
	  vertical-align: middle;
	}

	a, a:visited, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: $orange;
		font-family: $subtitle-family;

	&.next, &.prev {
	  	padding:.4em .75em;

	  	span {
	  		font-family: $title-family;
			font-size: 1.5em;
			display: inline-block;
			padding:0 .75em;
	  	}
	  	
		i {
			display: inline-block;

		}

	  }

	  &:hover, &:focus {
		background-color: $orange;
		color: $white;

		span { 
			color:$white;
		}
	  }

	  
	}

	.current {
		cursor: default;
		color: $meta-color;

		&:hover, &:focus {
			color: $link-color;
			background-color: transparent;
		}
	}


} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

} /* end .wp-prev-next */


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	color: lighten($purple, 25%);
	font-size:.9em;

	p {
		margin-bottom: .677em;
	}

	a, a:visited {
		color: $white;
		border-color: lighten($purple, 25%);
	}
}

.backtotop {
	font-size:1.2em;
	display:block;
	text-align:center;
	font-weight:400;
	font-family:$subtitle-family;
}

.organization-address, .copyright {
	text-align: center;
	margin:0 auto .5em;
	
	@include breakpoint(laptop) {
		margin:0 0 .5em;
		text-align: left;
		display:inline-block;

		& > div {
			display:inline-block;
		}
	}
}

.contact {
	margin-top:.5em;

	.item {
		display: inline-block;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid $gray;
		line-height: 1em;

		&:last-of-type {
			border-right:none;
			margin-right:0;
			padding-right:0;
		}
	}
}

.postnav {
	width:100%;
	font-family:$subtitle-family;
	border: 1px solid $light-gray;

	a, a:visited {
		color:$purple;
	}

	& > div {
		float:left;
		width: 50%;
		border-right:1px solid $light-gray;
		padding:1em;
		display: inline-block;
		vertical-align: top;
		min-height:150px;

		&:nth-of-type(2) {
			border-right:0;
		}
	}

	.imglink {
		display: inline-block;
		line-height: 0;
		width: 35%;
		box-shadow:3px 3px $light-gray;
	}

	span {
		width:60%;
		float:left;
	}

	h6 {
		font-family: $title-family;
		margin:0;
		color:$orange;
		font-size: 1.5em;
		font-weight:400;
	}
}

.prevpost {
	.imglink {
		float:left;
		margin-right:5%;
	}
}

.nextpost {
	text-align:right;

	.imglink {
		float:right;
		margin-left:5%;
	}
}

.kltv-featurebox, .latestfromeach, .latestcommunity {
	h4 {
		font-size:1.15em;
		line-height: 1.5em;
		word-wrap: break-word;
	}
}

.kltv-featurebox {
	position: relative;
	padding:3em 1.677em 1.677em;
	margin-top:50px;
	background: $medium-yellow url('../images/bg-colored-line.jpg') top repeat-x;
	border:1px solid $light-gray;

	.kltvtitle {
		position:absolute;
		top: -28px;
		left:20px;
		width:272px;
		height:60px;
		font-size: 1.8rem;
		line-height: 1em;
		font-family: $title-family;
		background: transparent url('../images/bg-kltv-featurebox-h2.png') no-repeat;
		
		a, a:visited {
			color:$white;
			display: inline-block;
			padding:15px 0 0 85px;
		}
	}

	ul {
		list-style: none;
		margin:0;
	}

	li {
		display: block;
		vertical-align: top;
		
		@include breakpoint(tablet) {
			display: inline-block;
			width:22.7%;
			margin-right:3%;

			&:nth-of-type(4n) {
				margin-right:0;
			}
		}

		
	}

	a, a:visited {
		color:$red;
		position: relative;
		
	}

	
	img {
		box-shadow: 2px 3px $brown;
	}
}

.latestfromeach {

	h4 {
		width:50%;
		float:left;
	}
	img {
		box-shadow: 2px 3px $light-gray;
	}
	ul {
		list-style: none;
		margin:0;
	}

	li {
		display: inline-block;
		width:100%;
		padding:1em 1.677em;
		border:1px solid $light-gray;
		border-top: none;
		vertical-align: top;
		

		@include breakpoint(tablet) {
			min-height: 240px;
			width:50%;
			&:nth-of-type(2n) {
				border-left:none;
			}
		}


		&:nth-of-type(2n) {

			.cattitle {
				a, a:visited {
					color:$red;
				}
			}
		}

		&:nth-of-type(3) {

			.cattitle {
				a, a:visited {
					color:$green;
				}
			}
		}

		&:nth-of-type(4) {

			.cattitle {
				a, a:visited {
					color:$teal;
				}
			}
		}

		&:nth-of-type(6) {

			.cattitle {
				a, a:visited {
					color:$green;
				}
			}
		}

	}

	a, a:visited {
		color:$purple;
	}

	.imglink {

		width:44%;
		float:left;
		margin-right: 6%;
		line-height: 0;
		
	}

	
}

.cattitle {

	&.all {
		margin-top:2em;
	}

	a, a:visited {
		font-family: $title-family;
		font-size: 1.5em;
		position:relative;
		color:$blue;
		font-weight: 400;

		&:after {
		    position: absolute;
		    bottom: 2px;
		    right:-20px;
		    overflow: visible;
		    font-size: .5em;
		   /* width: 18px;
		    height: 18px;
		    background: transparent url('../images/play-purple.png') no-repeat center; */
		    content: "\f144";
		    font-family: 'FontAwesome';
		    color:$lighter-blue;

		}

	}
}

.smallplay {
	position:relative;
	display:inline-block;
	display:block;
	margin-bottom:.5em;

	img {
		line-height: 0;
		margin:0;
		width:100%;
	}

	&:after {
	   /* content: "\f144";
	    font-family: 'FontAwesome';
	    color:$white;
	    opacity: .8;
	    font-size: 2.5em;
	    position: absolute;
transition: all 1s;
	    text-shadow: -1px -1px 0 $black, 
	    			1px -1px 0 $black,
	    			-1px 1px 0 $black,
	    			1px 1px 0 $black;  
	    */
	   content: "";
	    position: absolute;
	    bottom: 8px;
	    right:8px;
	    width: 32px;
	    height: 32px;
	    z-index: 100;
	    background: transparent url('../images/bg-play-small.png') no-repeat center;
	    pointer-events: none;
	    
	}

	/* &:hover {
		&:after {
			opacity:1;
		}
	} */
}

.latestcommunity {
	border:1px solid $light-gray;
	border-top:none;
	padding:1.677em 1.677em;

	ul {
		list-style: none;
		margin:0;
	}

	a, a:visited {
		color:$white;
	}

	.smallplay {
		width:30%;
		display: inline-block;
		float:left;
		margin-right:3%;

		@include breakpoint(laptop) {
			width:100%;
			float:none;
			margin-right: 0;
		}
	}
	
	h4 {
		width:66%;
		display: inline-block;
		float:left;

		@include breakpoint(laptop) {
			width:100%;
			float:none;
			margin-right: 0;
		}
	}

	

	.cattitle {
		line-height: 1em;
		margin-bottom: .5em;
		font-size: .9em;
		line-height: 1.4em;

		a, a:visited {
			color:$yellow;
			text-shadow: 2px 2px 3px darken($blue,10%);	

			&:after {
				color:lighten($blue,30%);
				font-size:.8em;
				bottom:3px;
				opacity:1;
			}
		}
		
	}

	.commtitle  {
		p {
			color:$darkest-gray;
			font-size: .9em;
			margin-bottom: .677em;
		}
		

		h3.cattitle {
			font-size: 1.5em;
			a, a:visited {
				color:$orange;
				
				text-shadow: none;

				&:after {
					content:'';
				}
			}		
		}		
	}

	li {
		display: inline-block;
		margin-bottom: 1em;
		vertical-align: top;
		padding:1em;
		background-color:$blue;
		color:$white;
		border-bottom:2px solid darken($blue,10%);

		@include breakpoint(laptop) {
			width: 22.7%;
			margin-right:3%;
			margin-bottom: 0;
		}


		&:first-of-type {
			background-color: transparent;
			padding:0;
			border:none;
		}

		&:nth-of-type(2n) {
			
		}

		&:nth-of-type(3n) {
			background-color: $orange;
			border-bottom:2px solid darken($orange,10%);

			.cattitle {
				a, a:visited {
					text-shadow: 2px 2px 3px darken($orange,10%);

					&:after {
						color:lighten($orange,30%);
					}
				}
			}
		}

		&:nth-of-type(4n) {
			margin-right:0;
			background-color:$teal;
			border-bottom:2px solid darken($teal,10%);

			.cattitle {
				a, a:visited {
					text-shadow: 2px 2px 3px darken($teal,10%);

					&:after {
						color:lighten($teal,30%);
						
					}
				}
			}
		}
	}

}