/*********************
NAVIGATION STYLES
*********************/

#menu-social-menu {
	margin-top:0em;
}

.mobilemenu {
	display:block;
	background-color:$purple;	
	margin:0 0 0 0;
	text-align: left;
	padding-left:1em;

	&.catmenu {
		display: none;

		@include breakpoint(tablet) {
			display: block;
			background-color:$blue;	
			box-shadow: 6px 6px 0 lighten($gray, 20%);
		}

		@include breakpoint(laptop) {
			display: none;
		}
		
	}

	.mobilemessage {
		font-size: .8em;
		display: inline-block;
		margin-left: 1em;
		font-family: $subtitle-family;
	}

	&.allmenu {
		.mobilemessage {
			font-size: .6em;
		}
	}

	@include breakpoint(tablet) {
		padding:.5em 0 .5em 2em;

		&.allmenu {
			display: none;
		}
	}

	@include breakpoint(laptop) {
		display:none;
	}
}

.mainnav {
	display: none;
}
.topbar {
	text-align: center;
	vertical-align: top;
	position: relative;
	
	vertical-align:middle;
	line-height:1em;

	@include breakpoint(tablet) {
		text-align: left;
		padding:0 .3em;
	}

	.login, input, .social-nav > li > a {
		display: inline-block;
		vertical-align:middle;
	}
	
	nav, .nav, .main-nav {
		@include breakpoint(tablet) {
			display: inline-block;	
		}
		
	}

	.social-nav {
		display: none;

		@include breakpoint(laptop) {
			display: inline-block;
			vertical-align:middle;
		}

		li a, li a:visited {
			padding: 0 .75em;
			vertical-align: middle;
			font-size:.8em;
			color:$white;

			i {
				display: inline-block;
			}
		}
	}

	.login {
		border:none;
		background-color:$link-color;
		color:$white;
		font-size:1.1em;
		padding-left:.5em;
		padding-right: .5em;
	}

	.searchform {
		width: 50%;
		position:relative;
		display: inline-block;

		.search-label {
			font-family: $subtitle-family;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
		}

		input, button {
			margin:0;
			height:1.5em;
			line-height: 1em;
		}

		input {
			width: 52%;
			margin:0 3% 0 2%;
			background-color:lighten($purple, 15%);
			border-color:lighten($purple, 15%);

			// a focused input (or hovered on)
			  &:focus,
			  &:active {
			    background-color: lighten($purple, 45%);
			    border-color:$purple;
			  } // end hover or focus

		}

		button {
			position: relative;
			background-color:transparent;
			border: none;
			font-size: 26px;
		}
	}

}
.menu-toggler {
	border: none;
	font-size:2em;
	color:$white;

	@include breakpoint(laptop) {
		display:none;
	}
}

#menu-social-menu {
	display:none;
	@include breakpoint(laptop) {
		display:inline-block;
	}
}

.nav-desc {
	margin-bottom:1em;
	display:inline-block;
	line-height:1.4em;
}


.nav {
	border-bottom: 0;
	margin: 0;
	font-family:$subtitle-family;

	&.top-nav {
		width:100%;
		padding:0;
		display: none;
		line-height: .5em;
		margin-left:-.75em;

		@include breakpoint(laptop) {
			display:block;
		}
	}

	&.section-nav {
		display: none;


		@include breakpoint(laptop) {
			display: inline-block;	
			background-color:$blue;	
			margin:0 0 0 0;
			padding:0;
			box-shadow: 4px 4px 0 #dfdfdf;
			
			
			& > li {
				display:inline-block;

				a {
					height:50px;
					border-bottom:2px solid rgba(2, 126, 163, 0.5);
				}

				&:first-child {
					a {
						padding-left:2.1em;
					}
				}

				&:nth-last-child(2) {
					a {
						padding-right:2.25em;	
					}
					
				}
			}
		}
		
	}

	li {
		display: inline-block;
		vertical-align: bottom;
		line-height: 1em;

		a, a:visited {
			display: table-cell;
			color: $light-blue;
			padding: 0.75em .75em .95em;
			font-size: .95em;
			text-transform: uppercase;
			vertical-align: bottom;
			line-height: 1em;

			&:hover, &:focus {
				color: $white;
			}

		}

		&.current-menu-ancestor, &.current-menu-item {
			> a {
				color:$white;
			}

		}

		&.menu-special {
			/* box-shadow: 0 6px 0px lighten($gray, 20%); */
			a, a:visited {
				text-transform: none;
				font-size: 1.3em;
				color:$white;
				display: inline-block;
				line-height: 1.075em;
				padding:.65em .75em .7em;

			}

			&.m-gribbles {
				background-color:$orange;
				border-left:.1em solid $white;

				a {
					border-bottom: 2px solid rgba(227, 92, 52, 0.56);	
				}
				
			}
		}

		

		@include breakpoint(tablet) {
			float: left;
			position: relative;

			.sub-menu-content {
				display: none;
				border-top: 4px solid lighten($link-color, 15%);
				border-bottom: 1px solid $link-color;
				box-shadow: 0 2px rgba(230, 230, 230, 0.56);
				background-color: $pale-blue;
				padding:1em 1.677em;
				color:$blue;
				position: absolute;
				z-index: 8999;
				text-align:left;
				width:auto;
				min-width: 300px;
				font-size:.9em;
				font-family: $sans-serif;
			}

			ul.sub-menu,
			ul.children {
				padding:0;
				margin:0;
				width:auto;
				border-top: 0;
				text-align:left;
				-webkit-columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
				columns: 2;
				-webkit-column-gap: 1em;
				-moz-column-gap:1em;
				column-gap: 1em;
				vertical-align: text-bottom;

				li {
					float:none;
					vertical-align: text-bottom;
					margin-bottom: .6em;

					a, a:visited {
						color: $dark-blue;
						font-weight:700;
						border-right: 0;
						display: inline-block;
						width: auto;
						border:none;
						text-transform: none;
						padding:.2em .677em 0 0;
						height: auto;
						white-space: nowrap;
						vertical-align: text-bottom;

						&:hover,
						&:focus { 
							color: $bright-blue;
						}

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}
					ul, ul ul {
						top:0;
						left:100%;

						li:last-child {
							a {
								margin-bottom:0;
								border-color: transparent;	
							}
							
						}
						
					}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current-page-ancestor {
					& > a {
						border: none;
					}
				}
			}

			&:hover > .sub-menu-content {
				display: block;
				visibility: visible;
				top:100%;
				left:0;
				@include transition(all .5s ease);
			}

			&:last-of-type:hover > ul {
				display: block;
				visibility: visible;
				right:0;
				left:auto;
			}
		}
	} /* end .menu li */


} /* end .nav */

.main-nav {
	li {
		padding:.75em 0;

		a, a:visited {
			text-transform: uppercase;
			color:lighten($purple, 25%);
			font-size: .95em;
			line-height: 1em;
			padding:0 .75em;
			border-right:1px solid #8d609f;
		}

		&.current-menu-ancestor, &.current-menu-item {
			> a {
				color:$white;
			}

		}

		&:last-of-type {
			a {
				border-right: none;
			}
		}
	}
	.menu-item-has-children {
		& > a:after {
			padding-left:.5em;
			content:"\f101";
			font-family: FontAwesome;
		}
	}

	& > .menu-item-has-children {
		&:hover {
			> a:after {
				content:"\f103";
			}
		}
	}


}

.footer-menus {
	margin-bottom:1em;

	nav {
		text-align:center;

		@include breakpoint(tablet) {
			width: 48%;
			float:left;
			text-align: left;
		}


		li {
			vertical-align: middle;
		}
	}

	nav.kltv-social {
		text-align: center;
		font-size: .8em;

		@include breakpoint(tablet) {
			float:right;
			text-align:right;
		}
		

		a, a:visited {
			color:$white;
		}

		li {
			float:none;
		}
	}

	.footer-nav {
		a, a:visited {
			color: $white;
			padding:0 1em 0 0;
			
			line-height: 1em;

			@include breakpoint(tablet) {
				margin-right:1em;
				border-right:1px solid $p-purple;
			}
		}


		li {
			padding:1em 0;
			margin-right:1em;
		}

		li:last-of-type > a {
			border-right: none;

		}
	}
}
