/******************************************************************
Colors
******************************************************************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #5c5c5c;
$white:             #fff;

$light-gray:        #e6e6e6;
$gray:              #bebebe;

$brown:				#d3c8b2;

$red:				#ff0000;

$yellow:            #f9efcc;
$light-yellow:		#faf4de;

$orange:			#eb8124;

$green:             #96935b;

$teal:				#3eaba4;

$dark-blue:			#027ea3;
$blue:              #3a9cc7;
$medium-blue:		#47a1c7;
$light-blue:		#94DEF5;/*bee3ee*/
$pale-blue:			#aee5f6;

$purple:			#825b90;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      $black;
$disabled-color:    $light-gray;

$text-color:        $black;
$meta-color:        $gray;

/* pastels */
$p-green:			#ebe8ae;
$p-orange:			#edd3bb;
$p-purple:			#e2caeb;
$p-teal:			#c1dbda;
$p-blue:			#98d2eb;
$p-yellow:			#f9efcc;