/******************************************************************
Colors
******************************************************************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #5c5c5c;
$white:             #fff;

$light-gray:        #e6e6e6;
$gray:              #bebebe;

$brown:				#d3c8b2;

$red:				#ff0000;

$yellow:            #f9efcc;
$light-yellow:		#faf4de;

$orange:			#eb8124;

$green:             #96935b;

$dark-blue:			#027ea3;
$blue:              #3a9cc7;
$light-blue:		#94DEF5;/*bee3ee*/

$purple:			#825b90;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      $black;
$disabled-color:    $light-gray;

$text-color:        $black;
$meta-color:        $gray;