/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
%inpts {
  display: block;
  height: 40px;
  line-height: 100%;
  padding: 0 12px;
  margin-bottom: .9em;
  font-size: .9em;
  color: $text-color;
  border-radius: 0;
  border:1px solid $dark-gray;
  vertical-align: middle;
  box-shadow: none;
  width: 100%;
  max-width: 400px;
  background-color: darken($white, 5%);
  @include transition(background-color 0.24s ease-in-out);

  // a focused input (or hovered on)
  &:focus,
  &:active {
    background-color: $light-yellow;
  } // end hover or focus

  // error notification
  &.error,
  &.is-invalid {
    color: $alert-red;
    border-color: $alert-red;
    background-color: $white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $alert-red;
  } // end invalid input

  // success notification
  &.success,
  &.is-valid {
    color: $alert-green;
    border-color: $alert-green;
    background-color: $white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $alert-green;
  } // end valid input

  // a disabled input
  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    border-color: $disabled-color;
    opacity: 0.6;

    &:focus,
    &:active {
      background-color: $alert-blue;
    } // end disabled focus

  } // end disabled input
}


input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
select,
textarea,
.field {
  @extend %inpts;

  .gform_wrapper & {
    @extend %inpts;
  }
} // end input defaults

// textareas
textarea, .gform_wrapper textarea {
  max-width: 100%;
  min-height: 120px;
  line-height: 1.5em;
  padding:1em;
}


.gform_wrapper {

  ul {
    margin:0;
    list-style: none;
  }

  li {
    margin-bottom:.5em;
  }

  select {
    padding:0;
    vertical-align: middle;
    height:auto;
    font-size: inherit;
  }

  .gfield_label {
    font-family: $subtitle-family;
    font-weight: 400;
  }

  .ginput_complex {
    zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
  }

  .ginput_left, .ginput_right {
    width:49%;
    float:left;
    margin-right: 2%;
  }

  .ginput_right {
    margin-right: 0;
  }
} 


input[type="checkbox"], input[type="radio"] {
  margin-right: .5em;
}

input[type="file"] {
  border: none;
  padding-left:0;
}

.gfield_time_hour.gfield_time_hour {
  line-height: 1em;
  
  & > label {
    float:left;
    width:60%;
    margin-top: 0px;
  }

}

.gfield_list_icons {
   img {
    float:left;
   }
   
}

.gfield_list_cell  {
  input {
    max-width: inherit !important;
   }
}

.entry-content .gfield_list {
  tr:nth-child(2n) {
    background-color: transparent;
  }
}