/******************************************************************
Typography
@import url(http://fonts.googleapis.com/css?family=Rancho|Oswald:300,400);
******************************************************************/
$title-family: 		"Rancho", cursive;
$subtitle-family:	"Oswald", sans-serif;

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;